# Dictionary in Python:
> If we want to represent a group of object as 'key value pair' then we should go for 'dict' datatype.
> Key are not allowed but value can be duplicated.
> It maintains insertion order.
> dict is a mutable datatype.

In [1]:
d = {101:"Aditi", 102:"Deepak", 103:"Kishan", 104:"Ishita"}
print(d)
print(type(d))

{101: 'Aditi', 102: 'Deepak', 103: 'Kishan', 104: 'Ishita'}
<class 'dict'>

In [2]:
d = {101:1000, "aditi":20, True:12.44}
print(d)
print(type(d))

{101: 1000, 'aditi': 20, True: 12.44}
<class 'dict'>

In [3]:
# Add data in dictionary
d[103]="Raj"
print(d)

{101: 1000, 'aditi': 20, True: 12.44, 103: 'Raj'}

In [6]:
# replace:
d[101]= "Ananya"
print(d)

{101: 'Ananya', 'aditi': 20, True: 12.44, 103: 'Raj'}

In [8]:
d = {1:"Aditi", 102:"Deepak", 203:"Kishan", 5: "Ishita"}
print(d)
d[999]="Amit"
d[888]="Sumit"
d[777]="Akash"
d[1]="Shona" # replace Aditi
print(d)

{1: 'Aditi', 102: 'Deepak', 203: 'Kishan', 5: 'Ishita'}
{1: 'Shona', 102: 'Deepak', 203: 'Kishan', 5: 'Ishita', 999: 'Amit', 888: 'Sumit', 777: 'Akash'}

# Dictionary Data Structure:
> If we want to represent a group of object as key value pair then we go for dict.
> Indexing and slicing is not applicable.

In [9]:
d = {}
print(type(d))

<class 'dict'>

In [10]:
d = dict()
print(type(d))

<class 'dict'>

In [13]:
d = {}
# d[key]=value
d[100]="Rajeev"
d[200]="Akash"
d[300]="Sanjeev"
d[5]="Rajeev"
print(d)
d[100]="Mansi"
print(d)

{100: 'Rajeev', 200: 'Akash', 300: 'Sanjeev', 5: 'Rajeev'}
{100: 'Mansi', 200: 'Akash', 300: 'Sanjeev', 5: 'Rajeev'}

# How to access data from the dictionary

In [15]:
d = {10:"Rajeev",1:"Sanjay",300:"Akash",5:"Rajeev"}
print(d[10])
print(d[5])
# print(d[1000]) # KeyError

Rajeev
Rajeev

In [17]:
d = {10:"Rajeev",1:"Sanjay",300:"Akash",5:"Rajeev"}
key = int(input("Enter the any key"))
if key in d:
    print(d[key])

else:
    print("Key is not Found")

Enter the any key 23

Key is not Found

# how to update dictionary
Note:
> If the key is not available then a new entry will be added to the dictionary with the specified key value pair.
> If the key is already avaiable then old value will be replaced with new value.
> Entry -> key-value pair
> Entry -> Set of multiple entry

In [18]:
d = {10:"Rajeev",1:"Sanjay",300:"Akash",5:"Rajeev"}
print(d)
key = int(input("Enter the any key"))
value = input("Enter the any value")
d[key]= value
print(d)

{10: 'Rajeev', 1: 'Sanjay', 300: 'Akash', 5: 'Rajeev'}

Enter the any key 112
Enter the any value Rakesh

{10: 'Rajeev', 1: 'Sanjay', 300: 'Akash', 5: 'Rajeev', 112: 'Rakesh'}

# How to delete elements from dictionary.
> del d[key]

In [24]:
d = {10:"Rajeev",1:"Sanjay",300:"Akash",5:"Rajeev"}
print(d)
# if key is found then specified entry will be removed.
del d[300]
print(d)

# You will get KeyError if specified key is not found.
# del d[3000] # key error

{10: 'Rajeev', 1: 'Sanjay', 300: 'Akash', 5: 'Rajeev'}
{10: 'Rajeev', 1: 'Sanjay', 5: 'Rajeev'}

> To remove all entry from the dictionary we can use clear() method.

In [25]:
d.clear()
print(d)

{}

In [ ]:
d = {10:"Rajeev",1:"Sanjay",300:"Akash",5:"Rajeev"}
print(d)

# Important function of dictionary:
1. dict()
2. len()
3. clear()
4. get()
5. pop()
6. popitem()
7. keys()
8. values()
9. items()
10. copy()
11. setdefault()
12. update()

In [27]:
# len(): Returns the number of entry/item in the dictionary.

d = {10:"Rajeev",1:"Sanjeev",300:"Akash",5:"Rajeev"}
print(d)
print(len(d))

{10: 'Rajeev', 1: 'Sanjeev', 300: 'Akash', 5: 'Rajeev'}
4

In [29]:
# get(): get(key), get(key,"Default Value")
d = {10:"Rajeev",1:"Sanjeev",300:"Akash",5:"Rajeev"}
print(d[10])
print(d.get(10)) 
print(d.get(200)) #None
# print(d[200]) # KeyError
print(d.get(101,"Key Not Found"))

Rajeev
Rajeev
None
Key Not Found

In [33]:
# pop():
d = {10:"Rajeev",1:"Sanjeev",300:"Akash",5:"Rajeev"}
print(d)
print(d.pop(300))
print(d)
# print(d.pop(301)) # KeyError

{10: 'Rajeev', 1: 'Sanjeev', 300: 'Akash', 5: 'Rajeev'}
Akash
{10: 'Rajeev', 1: 'Sanjeev', 5: 'Rajeev'}

In [35]:
# popitem(): Based on LIFO (remove and returns key-value pair )
d = {10:"Rajeev",1:"Sanjeev",300:"Akash",5:"Rajeev"}
print(d)
print(d.popitem())
print(d)

{10: 'Rajeev', 1: 'Sanjeev', 300: 'Akash', 5: 'Rajeev'}
(5, 'Rajeev')
{10: 'Rajeev', 1: 'Sanjeev', 300: 'Akash'}

In [38]:
# keys():
d = {10:"Rajeev",1:"Sanjeev",300:"Akash",5:"Rajeev"}
print(d)
print(d.keys())
for i in d.keys():
    print(i)

{10: 'Rajeev', 1: 'Sanjeev', 300: 'Akash', 5: 'Rajeev'}
dict_keys([10, 1, 300, 5])
10
1
300
5

In [39]:
# values():
d = {10:"Rajeev",1:"Sanjeev",300:"Akash",5:"Rajeev"}
print(d)
print(d.values())
for i in d.values():
    print(i)

{10: 'Rajeev', 1: 'Sanjeev', 300: 'Akash', 5: 'Rajeev'}
dict_values(['Rajeev', 'Sanjeev', 'Akash', 'Rajeev'])
Rajeev
Sanjeev
Akash
Rajeev

In [40]:
# items(): to print keys and values both
d = {10:"Rajeev",1:"Sanjeev",300:"Akash",5:"Rajeev"}
print(d)
print(d.items())
for i,j in d.items():
    print(i,"=",j)

{10: 'Rajeev', 1: 'Sanjeev', 300: 'Akash', 5: 'Rajeev'}
dict_items([(10, 'Rajeev'), (1, 'Sanjeev'), (300, 'Akash'), (5, 'Rajeev')])
10 = Rajeev
1 = Sanjeev
300 = Akash
5 = Rajeev

In [42]:
# copy():
d = {10:"Rajeev",1:"Sanjeev",300:"Akash",5:"Rajeev"}
d1=d.copy()
print(d)
print(d1)
print(id(d))
print(id(d1))

{10: 'Rajeev', 1: 'Sanjeev', 300: 'Akash', 5: 'Rajeev'}
{10: 'Rajeev', 1: 'Sanjeev', 300: 'Akash', 5: 'Rajeev'}
2359276960960
2359269844608

# setdefault: setdefault check only keys
>If  the key is already available then this function returns the corresponding value.
>If the key is not available then the specified key value will be added as new item to the dictionary.
>If we pass only key as argument the setdefault function automatically pass None value corresponding to the passing key.

In [47]:
d = {10:"Rajeev",1:"Sanjeev",300:"Akash",5:"Rajeev"}
print(d)
print(d.setdefault(1,"Sanjeev"))
print(d.setdefault(100,"Sanjeev24"))
print(d.setdefault(8))
print(d)

{10: 'Rajeev', 1: 'Sanjeev', 300: 'Akash', 5: 'Rajeev'}
Sanjeev
Sanjeev24
None
{10: 'Rajeev', 1: 'Sanjeev', 300: 'Akash', 5: 'Rajeev', 100: 'Sanjeev24', 8: None}

In [49]:
# update():
d = {10:"Rajeev",1:"Sanjeev",300:"Akash"}
d1= {50:"Sanjay"}
print(d1)
d1.update(d)
print(d1)
# Note: All items present in the dictionary d will be added to dictionary d1.

{50: 'Sanjay'}
{50: 'Sanjay', 10: 'Rajeev', 1: 'Sanjeev', 300: 'Akash'}