# LIST Data Type

In [1]:
# List is a collection which maintain intertion order.
# We can store multiple duplicate object in the list.
l= [100,100.33,985,True, "rohit"]
print(type(l))
print(l[0])
print(l[-1])
print(l[0:3])
print(l[0:])
print('-'*20)
for i in l:
    print(i)

<class 'list'>
100
rohit
[100, 100.33, 985]
[100, 100.33, 985, True, 'rohit']
--------------------
100
100.33
985
True
rohit

# List is a collection which maintain insertion order.
# We can stuore multiple duplicate object in the list.

In [2]:
l1=[100,100.99,True, 'Kamal',200,34000]
l1[0] = "Rajeev"
for i in l1:
    print(i)

Rajeev
100.99
True
Kamal
200
34000

In [3]:
# append() function in list used to insert the item in the last.
# remove() is used to delete an item from the list.
l2 = ["Rajeev","Sanjeev","Akash"]
print(l2)
l2.append("Chanchal")
print(l2)
l2.remove("Rajeev")
print(l2)
for i in l2:
    print(i)

['Rajeev', 'Sanjeev', 'Akash']
['Rajeev', 'Sanjeev', 'Akash', 'Chanchal']
['Sanjeev', 'Akash', 'Chanchal']
Sanjeev
Akash
Chanchal

In [4]:
l2[0]="Sharan"
print(l2)
l3 = l2*3
print(l3)

['Sharan', 'Akash', 'Chanchal']
['Sharan', 'Akash', 'Chanchal', 'Sharan', 'Akash', 'Chanchal', 'Sharan', 'Akash', 'Chanchal']

# If we want to represent group of values as a single entity,
# where insertion order require to preserve and duplicates are allowed then we should go for list datatype.

Note:
1 Insertion order  is preserved
2 Hetrogeneous objects are allowed
3 Duplicates are allowed
4 Growable in nature
5 Values should be inclosed within square brackets[]
6 List object is mutable

In [5]:
# creation of list object
list= [10,20,30,"Amit","Sumit","Akash",True,None,1]
print(type(list))
print(list)
for i in list:
    print(i)

<class 'list'>
[10, 20, 30, 'Amit', 'Sumit', 'Akash', True, None, 1]
10
20
30
Amit
Sumit
Akash
True
None
1

In [6]:
list1= eval(input("Enter List Objects: "))
print(type(list1))
print(list1)
for i in list1:
    print(i)

Enter List Objects:  [12,34,4,3,4,5,6,6,7,5]

<class 'list'>
[12, 34, 4, 3, 4, 5, 6, 6, 7, 5]
12
34
4
3
4
5
6
6
7
5

In [7]:
lis = list(range(0,10,2))
print(type(lis))
print(lis)

TypeError: 'list' object is not callable

In [ ]:
name = "rajeev"
li=list(name)
print(type(li))
print(li)

In [ ]:
name= "Rajeev 'Shishodiya' from Centum Foundation"
li1 = name.split()
print(type(li1))
print(li1)

Creation of List Objects
1 list[]
2 list[10,20,30]
3 list = eval(input("Enter List")) # runtime
4 list()function #  conversion
5 split() method

Accessing Elements List Objects:
By using index or slice operator
list [Start:Stop:Step]
Start: start with 0 [Called as offset] [Default value is 0]
Stop: start with 1 [called as Length] [Default value is max allowed index of list] [i.e. length of the list]
Step: [Default value is 1]

In [ ]:
li_1 = [10,20,30,40,50]
print(li_1[0])
print(li_1[-1])
print(li_1[2:3])
print(li_1[2:])
print(li_1[0:5])
print(li_1[0:5:2])

In [ ]:
li_2 = [10,20,30,40,50,60,70,80,90,100]
print(li_2)

In [ ]:
# creating list using range()
li_3 = list(range(10,110,10))
print(li_3)

In [ ]:
print(li_3[2:7:2])
print(li_3[4:2])
print(li_3[3:7])
print(li_3[8:2:-2])
print(li_3[4:100])
print(li_3)

In [ ]:
li_3[0] = 999
print(li_3)

Traversing the elements List Objects.

In [8]:
list_1 = [10,20,30,40,50,60,70,80,90,100]
for i in list_1:
    print(i)

10
20
30
40
50
60
70
80
90
100

In [10]:
for i in range(0, 10, 2):
    print(list_1[i])

10
30
50
70
90

In [11]:
i = 0 
while i<len(list_1):
    print(list_1[i])
    i = i+2

10
30
50
70
90

In [15]:
#Count of the occurance: .count(parameter)
list_2 = [10,20,20,30,30,30,30,30,30,40,54,54,40,10,20,40,30]
print(list_2.count(10))
print(list_2.count(20))
print(list_2.count(30))
print(list_2.count(40))
print(list_2.count(54))
print(list_2.count(11))
# It return the no of occurness of specified item in the list.

2
3
7
3
2
0

In [18]:
# index also counts the occurance of the numbers in a list.
# It return the index of first occurness of the specified item.
print(list_2.index(10))
print(list_2.index(20))
print(list_2.index(30))
print(list_2.index(40))
# t_2.index(50)) #ValueError
# It gives ValueError if the item is not found in the list.

0
1
3
9