Manipulating the Elements List Objects:
1 append():
2 insert():
3 extend():

In [1]:
# append(): We can use append function to add item at the end of the list.
list = [10,20,30,40,20,80]
print(list)
list.append("Ankit")
print(list)

[10, 20, 30, 40, 20, 80]
[10, 20, 30, 40, 20, 80, 'Ankit']

In [2]:
# insert(): If the specified index is greater than max index then element will be inserted in last position.
list1 = [10,20,30,40,20,80]
list1.insert(1,"Raman")
print(list1)
list1.insert(10,"Kamal")
print(list1)
list1.insert(-7,"Dinu")
print(list1)
# if the specified iindex is smaller than main index then element will be inserted at first position.

[10, 'Raman', 20, 30, 40, 20, 80]
[10, 'Raman', 20, 30, 40, 20, 80, 'Kamal']
[10, 'Dinu', 'Raman', 20, 30, 40, 20, 80, 'Kamal']

In [4]:
# extend(): to add all item of one list to another list.
list.extend(list1)
print(list)

[10, 20, 30, 40, 20, 80, 'Ankit', 10, 'Dinu', 'Raman', 20, 30, 40, 20, 80, 'Kamal']

In [7]:
# remove(): if any list have same object more than one time then it will remove first occurance.
list2 = [10,20,20,40,10,50,40,30]
print(list2)
list2.remove(40)
print(list2)
# we can use this function to remove specified item from the list.
#if the item present multiple times then only first occurness will be removed.
# list2.remove(43) #ValueError: list.remove(x): x not in list
# if the specified item is not present in the list then you will get value error.

[10, 20, 20, 40, 10, 50, 40, 30]
[10, 20, 20, 10, 50, 40, 30]

In [2]:
# pop(): it removes and returns the last element of the list...
list3 = [10,20,20,40,10,50,40]
print(list3)
print(list3.pop())
print(list3)
# pop(index) with parameter: to remoce and return element present at specified index.
print(list3.pop(3))
print(list3)

[10, 20, 20, 40, 10, 50, 40]
40
[10, 20, 20, 40, 10, 50]
40
[10, 20, 20, 10, 50]

In [3]:
# list3.remove(30) value error : x in not in the list
# list3.pop() index error : pop from empty list
list4 = [10,20,50,60,80,100]
if 30 in list4:
    list4.remove(30)
    print(list4)
else:
    print("Object not found")

Object not found

In [6]:
val = int(input("Enter the any number"))
if val in list4:
    list4.remove(val)
    print("Object removed")
    print(list4)
else:
    print("Object not found")

Enter the any number 34

Object not found

# reverse() : reverse the list

In [8]:
list5 = [10, 20, 20, 40, 10, 50, 40,1,5,5,2,91,60]
print(list5)
list5.reverse()
print(list5)

[10, 20, 20, 40, 10, 50, 40, 1, 5, 5, 2, 91, 60]
[60, 91, 2, 5, 5, 1, 40, 50, 10, 40, 20, 20, 10]

# sort(): sort the list
to use sort function compulsory list should contain homogeneous elements otherwise you will get type error

In [11]:
print(list5)
list5.sort()
print(list5)
list5.sort(reverse = True)
print(list5)

[91, 60, 50, 40, 40, 20, 20, 10, 10, 5, 5, 2, 1]
[1, 2, 5, 5, 10, 10, 20, 20, 40, 40, 50, 60, 91]
[91, 60, 50, 40, 40, 20, 20, 10, 10, 5, 5, 2, 1]

In [12]:
# program
high = 0
i = 0
while i<5:
    num = int(input("Enter the any number"))
    if num>high:
        high=num
    i = i+1
else:
    print("Max value is:", high)

Enter the any number 45
Enter the any number 74
Enter the any number 54
Enter the any number 95
Enter the any number 55

Max value is: 95

# Aliasing of List Object:
1. The process of givinganother reference variable to the existing list is called Aliasing.
2. The problem in this approach is by using one reference variable if we are changing content then those changes will be reflected to the other reference variable.

In [15]:
Shweta = [100,200,300,400]
Anshika = Shweta
print(id(Shweta))
print(id(Anshika))
print("Shweta Object",Shweta)
print("Anshika Object", Anshika)
Anshika[1] = 9999
print("After Modifying the object by Anshika")
print("Shweta Object",Shweta)
print("Anshika Object", Anshika)

2741329995008
2741329995008
Shweta Object [100, 200, 300, 400]
Anshika Object [100, 200, 300, 400]
After Modifying the object by Anshika
Shweta Object [100, 9999, 300, 400]
Anshika Object [100, 9999, 300, 400]

# Cloning of list object:
1. To overcome the problem of 'Aliasing of object' we should go for clonning.
2. The process of creating exactly duplicate independent object is called clonning.
3. We can implement clonning by using slice [:] operator or by using copy function.
   Operator: slice
   Function: copy()

In [16]:
Shweta = [100,200,300,400]
Anshika = Shweta[:] # cloning syntax with slicing operator.

print(id(Shweta))
print(id(Anshika))

print("Shweta Object",Shweta)
print("Anshika Object", Anshika)
Anshika[1] = 9999
print("After Modifying the object by Anshika")
print("Shweta Object",Shweta)
print("Anshika Object", Anshika)

2741330084160
2741330090112
Shweta Object [100, 200, 300, 400]
Anshika Object [100, 200, 300, 400]
After Modifying the object by Anshika
Shweta Object [100, 200, 300, 400]
Anshika Object [100, 9999, 300, 400]

In [17]:
Shweta = [100,200,300,400]
Anshika = Shweta.copy() # cloning syntax with copy() function.

print(id(Shweta))
print(id(Anshika))

print("Shweta Object",Shweta)
print("Anshika Object", Anshika)
Anshika[1] = 9999
print("After Modifying the object by Anshika")
print("Shweta Object",Shweta)
print("Anshika Object", Anshika)

2741330081792
2741330081600
Shweta Object [100, 200, 300, 400]
Anshika Object [100, 200, 300, 400]
After Modifying the object by Anshika
Shweta Object [100, 200, 300, 400]
Anshika Object [100, 9999, 300, 400]

#    + and *

In [24]:
a = [100,200,300]
b = [10,20,30]
c = a+b
print(c)

# c = a + 10   => TypeError
# to use + operator compulsory both argument should be list objects otherwise you will get type-error.

c = a + [10]
print(c)

c = a*3
print(c)

[100, 200, 300, 10, 20, 30]
[100, 200, 300, 10]
[100, 200, 300, 100, 200, 300, 100, 200, 300]

# compare operator: == > >= < <=

In [27]:
a = ['Amit','Sumit','Akash']
b = ['Amit','Sumit','Akash']
c = ['AMIT','SUMIT','AKASH']
print(a==b)
print(a==a)
print(a==c)
print(b==c)

True
True
False
False

In [29]:
b = [5,100,200,300,400,500]
a = [2,10,20,30]
print(a>b)
print(a>=b)
print(a<b)
print(a<=b)
# it checks first index value from both list.

False
False
True
True

1. Whenever we are using relational operators between list objects only first element comparison will be perdorm.
2. The object should be homogeneous.

# Membership Operator:
1. in operator
2. not in operator

# clear() : to clear the list element.

In [30]:
x = [0,100,200,300,400,500]
print(x)
x.clear()
print(x)

[0, 100, 200, 300, 400, 500]
[]

# Nested list: some times we can take one list into another list such type of lists are called Nested list

In [31]:
Nested_list = [10,20,30,40,[101,102,103],"amit", True,12.00]
print(Nested_list)
print(Nested_list[0])
print(Nested_list[4])
print(Nested_list[4][0])
#we can access nested list elements by using index just like accessing multidimensional array elements.

[10, 20, 30, 40, [101, 102, 103], 'amit', True, 12.0]
10
[101, 102, 103]
101