# SET:
1. Works on unique order.
2. It does not work on index or index concept is not applicable.
3. Does not maintion insertion order.
4. Hetrogeneous objects are allowed.
5. It is mutable.
6. We cannot use slicing method in set data type.
7. It do not add duplicate object.
8. Item assignment is not applicable.

In [1]:
s = {"Aam", "Emli", 100, True, 100.99}
print(s)
print(type(s))

{True, 100.99, 100, 'Emli', 'Aam'}
<class 'set'>

# add(): to add new value in the Set.
# remove(): to remove object which provide in parameter
append() is not applicable in the set. If used return attribute error.

In [2]:
s.add("Anar")
print(s)
s.remove("Aam")
print(s)
# s[0] = "Nimbu" not applicable

{True, 100.99, 100, 'Emli', 'Aam', 'Anar'}
{True, 100.99, 100, 'Emli', 'Anar'}

In [3]:
# duplicate object will not add.
s1 = {"Aam", "Kela","Aam"}
print(s1)

{'Aam', 'Kela'}

# How to make empty set:
while creating empty set compulsory we should use 'set()' function.

In [4]:
set1 = {}
print(type(set1))

<class 'dict'>

In [5]:
set1 = {10}
print(type(set1))

<class 'set'>

In [6]:
# set(): to make empty set
set1 = set({})
print(type(s))

<class 'set'>

# convert list into set:

In [7]:
list = [10, 20, 30]
set1 = set(list)
print(type(set1))
print(set1)

<class 'set'>
{10, 20, 30}

# Important function of Set:
1. add()
2. update() multiple value add
3. copy()
4. pop()
5. remove()
6. discord()
7. clear()

In [8]:
# add(): to add an item in the set.
set_1 = {10, 20,  30, 40}
print(set_1)
set_1.add(50)
print(set_1)

{40, 10, 20, 30}
{40, 10, 50, 20, 30}

In [10]:
# update(): we can add multiple values into a set using update() method.
S = set({})
list = [1,2,3]
s = {4,5,6}
t = (7,8,9)
S.update(list,s,t)
print(S)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [11]:
s = {1,2,3}
l = [4,5,6]
s.update(l,range(7,11,1))
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

=> what is the difference between add() and update() function in python?

> We can use add() function to addd individual item  to the set, where a we an use update() function to add multiple items to set.
> add() function can take only one argument where as update() function can take any number of 
arguments. But all arguments should be iteraable objects.
iterable objects=> list, set, range, etc

In [13]:
# copy(): to make another copy of a set
s = {1,2,3}
s1 = s.copy()
print(s)
s.add(10)
print(s)
print(s1)
print(type(s1))

{1, 2, 3}
{10, 1, 2, 3}
{1, 2, 3}
<class 'set'>

In [18]:
# pop(): It removes and return some random element from the set.
s = {1,2,3,36,10,3,38,48,58}
print(s)
print(s.pop())
print(s)

{1, 2, 3, 36, 38, 10, 48, 58}
1
{2, 3, 36, 38, 10, 48, 58}

In [24]:
s = {1,2,3,36,10,3,38,48,58}
s.remove(10) # if the element not present in the set it gives key error
print(s)
s.discard(131) # does not return any error

{1, 2, 3, 36, 38, 48, 58}

In [25]:
# clear(): to clear all items form the set.
s = {1,2,3,36,10,3,38,48,58}
print(s)
s.clear()
print(s)

{1, 2, 3, 36, 38, 10, 48, 58}
set()

# Mathematical operation of Set:
1. union()
2. intersection()
3. difference()
4. symmetric_difference

In [26]:
# union():
s1 = {1,2,3,4,5,6,7,8,9,10,60,80,90}
s2= {1,2,3,4,5,6,7,8,9,10,30,40,50}
s3 = s1.union(s2) # s3= s1/s2
print(s1)
print(s2)
print(s3)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 80, 90, 60}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 40, 50, 30}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 80, 90, 30, 40, 50, 60}

In [28]:
# intersection():
print(s1)
print(s2)
s3 = s1.intersection(s2) # s4= s1&s2
print(s3)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 80, 90, 60}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 40, 50, 30}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [29]:
# difference(): Return the elements present in s1 but not in s2.
s1 = {1,2,3,4,5,6,7,8,9,10,60,80,90}
s2= {1,2,3,4,5,6,7,8,9,10,30,40,50}
print(s1)
print(s2)
s3 = s1.difference(s2)
s4 = s1-s2
print(s3)
print(s4)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 80, 90, 60}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 40, 50, 30}
{80, 90, 60}
{80, 90, 60}

In [30]:
# Symmetric_difference(): Return the elements present in either s1 or s2 but not in both.
print(s1)
print(s2)
s3 = s1.symmetric_difference(s2)
s4 = s1^s2
print(s3)
print(s4)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 80, 90, 60}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 40, 50, 30}
{40, 80, 50, 90, 60, 30}
{40, 80, 50, 90, 60, 30}

# Membership operators of Set:
1. in
2. not in

In [35]:
s1 = {1,2,3,4,5,6,7,8,9,10,60,80,90}
print(3 in s1)
print(3 not in s1)
print (34 not in s1)
print (34 in s1)

True
False
True
False