# Tuple : 
1. Tuple is the read only version of the list.
2. Tuple is immutable.
3. Values should be enclosed within parenthesis.
4. Hetrogeneous objects are allowed.
5. Duplicates are allowed.

In [1]:
t = ("Rohit", "Shweta",100,True,100.99,False,24.24,78,941,"Monkey")
print(type(t))
print(t)
print(t[0])
print(t[3:8])
print(t[-6:])
print(t[2:-1])
print(t[2:4])

<class 'tuple'>
('Rohit', 'Shweta', 100, True, 100.99, False, 24.24, 78, 941, 'Monkey')
Rohit
(True, 100.99, False, 24.24, 78)
(100.99, False, 24.24, 78, 941, 'Monkey')
(100, True, 100.99, False, 24.24, 78, 941)
(100, True)

1. Parenthesis is optional in tuple
2. we must add comma(,) in the tuple otherwise it will be in 'int'.
3. we can represent tuple element with parenthesis and with comma seperator. Parenthesis are optional but recomended to use.

In [2]:
Tuple0 = (10,)
Tuple1 = (10)
print(type(Tuple0))
print(type(Tuple1))

<class 'tuple'>
<class 'int'>

# Note: 
we have to take special care about single valued tuple. Compulsory the value should ends with comma(,) otherwise it is not treated as tuple.

In [3]:
Tuple1 = ('Trees',)
print(type(Tuple1))
Tuple1 = ()
print(type(Tuple1))
Tuple1=(10,)
print(type(Tuple1))
Tuple1 = 10,
print(type(Tuple1))
Tuple1 = (10,20,30)
print(type(Tuple1))
Tuple1 = 10,20,30
print(type(Tuple1))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

# Conversion of list to tuple

In [4]:
my_list = [10,20,30,40,50,60]
t = tuple(my_list)
print(type(t))
print(id(list))
print(id(t))

<class 'tuple'>
140705391271056
2076216655776

# Accessing elements of tuple:
1. By using index
2. By using slice operator

In [5]:
# Type vs immutability
t1 = (10,20,30,40)
# t1[1] = 100 # TypeError: 'tuple' object does not support item assignment
print(t)

(10, 20, 30, 40, 50, 60)

# Mathematical operator for tuple:
1. +
2. *

In [6]:
a = (10,20,30,40)
b = (100,300,200,800)
c = a+b
print(c)
print(type(c))

(10, 20, 30, 40, 100, 300, 200, 800)
<class 'tuple'>

In [7]:
a = (10,20,30,40)
d = a*4
print(d)
print(type(d))

(10, 20, 30, 40, 10, 20, 30, 40, 10, 20, 30, 40, 10, 20, 30, 40)
<class 'tuple'>

# Important function of Tuple:
1. len()
2. count()
3. index()
4. sorted()
5. min()
6. max() etc.

In [8]:
# len(): to find the length of tuple.
tpl = (10, 20, 20, 30, 30, 30, 40, 40, 50, 60)
print("length of tuple is:", len(tpl))
print(tpl)

length of tuple is: 10
(10, 20, 20, 30, 30, 30, 40, 40, 50, 60)

In [9]:
# count(): to count the occurance of an element in the tuple.
print(tpl)
y = tpl.count(20)
print(y)

(10, 20, 20, 30, 30, 30, 40, 40, 50, 60)
2

In [10]:
# index(): to get the index of an element from a given tuple.
print(tpl)
y = tpl.index(50)
print(y)

(10, 20, 20, 30, 30, 30, 40, 40, 50, 60)
8

In [11]:
# sorted(): The sorted() function returns a sorted list of the specified iterable object.
# You can specify ascending or descending order.
# Strings are sorted alphabetically, and numbers are sorted numerically.
# Note: You cannot sort a list that contains BOTH string values AND numeric values.
# Syntax: sorted(iterable, key=key, reverse=reverse)
# iterable	Required. The sequence to sort, list, dictionary, tuple etc.
# key	Optional. A Function to execute to decide the order. Default is None
# reverse	Optional. A Boolean. 
# False will sort ascending, True will sort descending. Default is False
tpl = (10, 20, 35, 95, 22, 3, 30, 90, 60, 70, 60)
a =sorted(tpl)
print(a)

[3, 10, 20, 22, 30, 35, 60, 60, 70, 90, 95]

In [12]:
# min(): to find the minimum element in the tuple.
print(tpl)
print("Minimum value of the element in the tuple is:",min(tpl))

(10, 20, 35, 95, 22, 3, 30, 90, 60, 70, 60)
Minimum value of the element in the tuple is: 3

In [13]:
# max(): to find the maximum element in the tuple.
print(tpl)
print("Maximum value of the element in the tuple is:",max(tpl))

(10, 20, 35, 95, 22, 3, 30, 90, 60, 70, 60)
Maximum value of the element in the tuple is: 95

# Tuple Packing and Unpacking:
we can create a tuple by packing a group of variables.

In [14]:
a = 10 
b = 20
c = 30
d = 40
t = a,b,c,d
print(type(t))
print(t)

#NOTE: here abcd are packed into a tuple t. This is nothing but tuple packing.

<class 'tuple'>
(10, 20, 30, 40)

# Tuple Unpacking:
It is the reverse process of tuple packing.
We can unpack a tuple and assign its value to different variables.

In [15]:
my_tuple = (10, 20, 30, 40)
a,b,c,d = t
print("a=",a, "b=",b, "c=",c, "d=",d)

#NOTE: At the time of tuple unpacking the number of variables and number of values should be same, otherwise you will get value error.

a= 10 b= 20 c= 30 d= 40